html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849D8F;
}

a {
  text-decoration: none;
}

.inner-page {
  height: 656px;
  background: linear-gradient(180deg, rgba(255,255,255,0.2), transparent);
  background-repeat: no-repeat;
  background-color: #849D8F;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 0;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav {
  line-height: 18px;
}

.wrapper-main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  padding-top: 9px;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.main-header-logo {
  position: relative;
}

.site-navigation li {
  position: relative;
  display: inline-block;
  vertical-align:  baseline;
}

.user-navigation a {
  position: relative;
  display: inline-block;
  padding-top: 6px;
  vertical-align: baseline;
}

li.catalog:hover .drop-down-catalog {
  display: block;
}

li.catalog::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  display: block;
  width: 100%;
  height: 15px;
}

.site-navigation {
  font-weight: bold;
  padding-left: 24px;
}

.user-navigation {
  font-size: 14px;
  font-weight: 500;
  margin-left: auto;
  display: flex;
  padding: 0;
  align-items: flex-start;
}

.user-nav {
  position: relative;
  margin-left: 10px;
}

.user-navigation svg {
  fill:#ffffff;
}

.nav-item,
.user-navigation a {
  color: #ffffff;
}

a.nav-item {
  display: inline-block;
  vertical-align: baseline;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: -14px;
  margin-top: -4px;
  margin-right: 10px;
}

.nav-item span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

li:hover .nav-item,
li:focus .nav-item {
  font-weight: bold;
  color: #323232;
  background-color: #f7f6f3;
  border-radius: 25px;
}

.nav-item:active {
  font-weight: bold;
  color: #323232;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  border-radius: 25px;
}

.nav-item-current {
  background-color: #d07058;
  border-radius: 25px;
}

.nav-item-current span {
  border: none;
}

li:hover .user-link,
li:focus .user-link {
  color: #323232;
  background-color: #f7f6f3;
}

li:hover .user-link svg,
li:focus .user-link svg {
  fill: #323232;
}

.drop-down-catalog {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #323232;
  width: 143px;
  height: 171px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: #f8f7f4;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 33px;
  left: -20px;
  font-weight: 400;
  list-style: none;
  display: none;
  z-index: 2;
}

.drop-down:hover,
.drop-down:focus {
  background-color: #fbded7;
}

.drop-down:active {
  background-color: #f6b5a5;
}

.drop-down-catalog .current {
  color: #ffffff;
  background-color: #d07058;
}

.drop-down-catalog li {
  padding: 0;
  /* padding-top: 6px; */
  width: 100%;
}

.drop-down-catalog a {
  color: #323232;
  padding-top: 9px;
  padding-left: 21px;
  padding-bottom: 7px;
  display: block;
}

.catalog-new {
  font-weight: bold;
}

a.catalog-new {
  padding-top: 12px;
  padding-bottom: 11px;
}

.catalog-new::after {
  content: "";
  position: absolute;
  top: 38px;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);

}

.button-search {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 8px;
  padding-bottom: 4px;
}

.search-form {
  width: 341px;
  height: 84px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: #f8f7f4;
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  padding: 20px 15px;
}

li.search::before {
  content: "";
  position: absolute;
  bottom: -12px;
  display: block;
  width: 100%;
  height: 15px;
}

.search-line {
  width: 311px;
  height: 44px;
  border-radius: 5px;
  border: solid 1px #d3d3d2;
  background-color: #ffffff;
  padding-left: 15px;
  color: #999999;
  font-size: 14px;
}

.search-form:hover,
.search-form:active {
  display: block;
}

li.user-nav:hover .search-form,
li.user-nav:focus  .search-form {
  display: block;
}

.entrance {
  width: 277px;
  height: 214px;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 1;
}

.entrance-form {
  padding: 19px 18px;
}

li.enter-form::before {
  content: "";
  position: absolute;
  bottom: -12px;
  display: block;
  width: 100%;
  height: 15px;
}

.email-line {
  width: 241px;
  height: 44px;
  border-radius: 5px;
  border: solid 1px #d3d3d2;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding-left: 15px;
  color: #999999;
  font-size: 14px;
}

.pass-line {
  width: 241px;
  height: 44px;
  border-radius: 5px;
  border: solid 1px #d3d3d2;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding-left: 15px;
  color: #999999;
  font-size: 14px;
}

.enter-button {
  padding: 13px 25px;
}

.red-button {
  font-size: 18px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 1px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  color: #ffffff;
  cursor: pointer;
}

.red-button:hover {
  box-shadow: 0px 2px 2px 0 #ac1000;
  background-image:
  linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
  linear-gradient(to top, #e74a35, #f26843);
}

.red-button:active {
  box-shadow: inset 0px 2px 2px 0 #942718;
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
}

a.registration-link {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
  padding: 0;
}

.enter-link {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 3px;
}

.enter-link span{
  vertical-align: top;
  padding-left: 4px;
}

.entrance:hover,
.entrance:active {
  display: block;
}

li.user-nav:hover .entrance,
li.user-nav:focus  .entrance{
  display: block;
}

.entrance-form-wrapper {
  display: flex;
}

.entrance-links {
  margin-top: -3px;
  margin-left: 10px;
}

.basket {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 18px;
  padding-bottom: 2px;
}

li.basket-form::before {
  content: "";
  position: absolute;
  bottom: -12px;
  display: block;
  width: 100%;
  height: 15px;
}

.basket span{
  vertical-align: top;
  padding-left: 4px;
}

.basket-full {
  background-color: #f7f6f3;
}

.basket-full span {
  color: #323232;
}

.shopping-cart {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 10;

  font-size: 13px;
  line-height: 16px;
  text-align: left;
  color: #323232;

  padding-left: 11px;
  padding-right: 14px;
  padding-top: 4px;
  padding-bottom: 20px;

  min-width: 539px;
  height: 242px;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  display: none;
}

.shopping-cart-table {
  width: 100%;
}

.cart-cell {
  padding-top: 10px;
  padding-bottom: 5px;
  font-weight: normal;
}

.cart-total {
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  text-align: right;
  color: #323232;

  border-top: 1px solid #cacac7;
}

.cart-btn-del {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 6px;
}

.cart-delete {
  width: 26px;
}

.cart-img {
  width: 40px;
  padding-right: 5px;
}

.cart-img img {
  border-radius: 50%;
}

.cart-description {
  width: 240px;
  padding-left: 4px;
  padding-right: 10px;
}

.cart-weight{
  width: 43px;
  padding-left: 9px;
}

.cart-multiply {
  width: 9px;
}

.cart-price {
  padding-right: 5px;
  color: #999999;
  width: 73px;
}

.cell-total{
  padding-right: 5px;
}

.button-checkout {
  display: block;
  padding: 13px 14px;
  margin-left: auto;

  font-weight: bold;
  line-height: 18px;
  color: #fefefe;
  text-decoration: none;
  cursor: pointer;

  border-radius: 30px;
}


li.user-nav:hover .shopping-cart,
li.user-nav:focus  .shopping-cart {
  display: block;
}

.title-catalog {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  margin-top: -20px;
}

ul.breadcrumbs {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: -22px;
  padding: 0;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs-current a {
  border-bottom: none;
}


ul.breadcrumbs li {
  display: inline;
  position: relative;
  line-height: 16px;
  padding-right: 17px;
}

ul.breadcrumbs li:first-child {
  padding-left: 0;
}

ul.breadcrumbs li::after {
  content: "»";
  position: absolute;
  width: 8px;
  height: 11px;
  top: 3px;
  right: 6px;
}

ul.breadcrumbs li:last-child::after {
  content: "";
  background-image: none;
}

.header-contact {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  margin-left: 570px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.working-hours {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin-top: -6px;
  margin-bottom: 5px;
}

.header-number {
  position: relative;
  display: block;
  font-size: 22px;
  line-height: 24px;
}

a.header-number {
  color: #ffffff;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: -5px;
  margin-bottom: 25px;
}

.filter fieldset {
  margin-bottom: 16px;
}

.sort-container {
  margin-right: 14px;
  border: none;
  padding: 0;
}

.sort-container legend {
  margin-left: 16px;
  margin-bottom: 6px;
}

.sort-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 193px;
  height: 36px;
  padding-left: 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/svg-gllacy/select.svg");
  background-repeat: no-repeat;
  background-position: 168px 14px;
  border: none;
  border-radius: 20px;
}

.sort-container select::-ms-expand {
  display: none;
}

.sort-container select:hover,
.sort-container select:active {
  color: #323232;
  background-image: url("../img/svg-gllacy/select-hover.svg");
}

.fat-filter {
  border: none;
  padding: 0;
  margin-left: 0;
}

.fat-filter legend {
  margin-bottom: 6px;
  margin-left: 15px;
}

.fat-wrapper {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-top: 7px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 2px;
}

.add-container {
  margin-right: 13px;
  border: none;
  padding: 0;
}

.choose-sort {
  padding-left: 32px;
  padding-right: 13px;
  font-weight: 500;
  line-height: 18px;
}

.filter-radio {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.radio-box {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/svg-gllacy/radio-off.svg);
  background-repeat: no-repeat;
  fill: #849d8f;
  opacity: 0.8;
  margin-left: -32px;
}

.radio-box:hover,
.radio-box:focus {
  opacity: 1;
}

.filter-radio:checked + .radio-box {
  background-image: url(../img/svg-gllacy/radio-on.svg);
}

.filter-radio:disabled + .radio-box {
  opacity: 0.4;
}

.add-wrapper {
  min-width: 415px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-top: 6px;
  padding-left: 16px;
}

.add-container legend {
  margin-left: 14px;
  margin-bottom: 6px;
}

.check {
  padding-left: 32px;
  padding-right: 18px;
  position: relative;
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-box {
  position: absolute;
  top: 1px;
  width: 23px;
  height: 20px;
  background-image: url(../img/svg-gllacy/checkbox-off.svg);
  background-repeat: no-repeat;
  fill: #849d8f;
  opacity: 0.8;
  margin-left: -32px;
}

.check-box:hover,
.check-box:focus {
  opacity: 1;
}

.check-input:checked + .check-box {
  background-image: url(../img/svg-gllacy/checkbox-on.svg);
}

.check-input:disabled + .check-box {
  opacity: 0.4;
}

.sort-menu {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #ffffff;
}

.price-range {
  margin-right: 14px;
  border: none;
  padding: 0;
  border-radius: 20px;
}

.price-range legend {
  margin-bottom: 6px;
  margin-left: 13px;
}

.range-controls {
  position: relative;

  width: 216px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding-left: 20px;
  padding-top: 18px;
}

.range-controls .scale {
  width: 176px;
  height: 4px;
  background: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 104px;
  height: 4px;
  background: rgba(248, 247, 244, 1);
  margin-left: 27px;
}

.range-toggle {
  position: absolute;
  top: 9px;

  width: 20px;
  height: 20px;


  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #849d8f;
  cursor: pointer;
}

.range-toggle:hover {
  cursor: pointer;
}

.range-toggle-min {
  left: 33px;
}

.range-toggle-max {
 left: 131px;
}

.button-apply {
  border: 2px solid #ffffff;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  outline: none;
  padding: 7px 28px;
  margin-top: 22px;
  align-self: flex-start;
}

.button-apply:hover,
.button-apply:focus {
  background-color: #ffffff;
  color: #323232;
}

.button-apply:active {
  color: #323232;
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  border: none;
}

.site-wrapper {
  width: 100%;
  background-image: url("../img/sice_cream_slide_1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.slider {
  position: relative;

  padding-top: 277px;
  margin-bottom: 42px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 19px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:focus,
.slider-controls label:hover {
  background-color: rgba( 248, 247, 244, 0.4);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice_cream_slide_1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice_cream_slide_2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice_cream_slide_3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.topping-wrapper {
  display:flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: -2px;
}

.topping {
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
  padding: 23px 20px;
}

.topping-rasberries {
  background-image: url("../img/rasberry.jpg");
}

.topping-choko {
  background-image: url("../img/choko.jpg");
}

p.topping-title {
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

p.topping-proposal {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-align: left;
  margin: 0 auto;
  margin-top: 25px;
}

.button-topping {
  opacity: 0.99;
  font-weight: bold;
  line-height: 24px;
  display: flex;
}

.button-topping-1 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 23px;
  margin-left: 355px;
  margin-top: 44px;
}

.button-topping-2 {
  margin-left: 331px;
  margin-top: 44px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 21px;
  padding-right: 21px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 267px;
  min-height: 267px;
  text-align: center;
  margin-bottom: 37px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-link {
  color: #ffffff;
  position: relative;
  z-index: 2;
}

p.catalog-item-price {
  margin: 0;
}

.catalog-item-image {
  border-radius: 50%;
}

h3.catalog-item-title {
  margin: 0;
  margin-top: 3px;
  padding: 0 5px;
}

.catalog-item-title a {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.catalog-item-price {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: left;
  position: absolute;
  top: 209px;
  left: -1px;
  word-spacing: -7px;
}

.catalog-item-price img {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 45px;
}

.unit {
  font-size: 30px;
}

.hover-catalog-item {
  position: absolute;
  left: -12px;
  top: -6px;
  z-index: 1;

  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 293px;
  padding-bottom: 20px;

  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(248, 247, 244, 0.2);
}

.catalog-list li:hover .hover-catalog-item,
.catalog-list li:focus .hover-catalog-item,
.catalog-list li:active .hover-catalog-item {
  display: block;
}

.button-catalog {
  margin-top: 342px;
  padding: 12px 17px;
}

.hit-item::before {
  content: ' ';

  background-image: url(../img/svg-gllacy/hit.svg);

  width: 61px;
  height: 61px;

  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.company-cover{
  background-image: url("../img/waffle-big.jpg");
  min-height: 306px;
  background-position: top center;
  background-repeat: repeat;
  border-radius: 15px;
  margin-top: -43px;
  padding: 26px 20px;
}

.company-description {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  text-align: left;
  color: #323232;
  margin: 0;
  word-spacing: 1px;
  letter-spacing: normal;
}

.list-of-advantage {
  list-style: none;
  text-align: left;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.item-of-advantage {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #323232;
  width: 553px;
  padding-top: 21px;
  padding-left: 57px;
  padding-right: 13px;
  position: relative;
}

.item-of-advantage:nth-child(2n) {
  padding-left: 70px;
}

.item-of-advantage:nth-child(1)::before {
  content: ' ';

  background-image: url(../img/svg-gllacy/ice-cream.svg);

  width: 49px;
  height: 49px;

  position: absolute;
  left: 0px;
  top: 8px;
}

.item-of-advantage:nth-child(2)::before {
  content: ' ';

  background-image: url(../img/svg-gllacy/cow.svg);

  width: 49px;
  height: 49px;

  position: absolute;
  left: 12px;
  top: 8px;
}

.item-of-advantage:nth-child(3)::before {
  content: ' ';

  background-image: url(../img/svg-gllacy/eco.svg);

  width: 49px;
  height: 49px;

  position: absolute;
  left: 0px;
  top: 8px;
}

.item-of-advantage:nth-child(4)::before {
  content: ' ';

  background-image: url(../img/svg-gllacy/thermometer.svg);

  width: 49px;
  height: 49px;

  position: absolute;
  left: 12px;
  top: 8px;
}

.blog-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.blog-news {
  width: 560px;
  min-height: 220px;
  background-image: url("../img/strawberry_blog.jpg");
  border-radius: 15px;
  background-position: right -254px top -223px;
  padding-right: 250px;
  padding-left: 20px;
  padding-top: 24px;
}

.blog-news h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  color: #323232;
}

.blog-news a {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  color: #323232;
  border-bottom: 2px solid #323232;
}

p.blog-background {
  margin: 0;
  margin-top: 3px;
}

.blog-form {
  width: 560px;
  min-height: 220px;
  border-radius: 10px;
  background-image: url("../img/blog-post.svg");
  background-repeat: repeat;
  padding: 4px 6px;
}

.blog-form-wrapper{
  background-color: #f8f7f4;
  width: 549px;
  min-height: 211px;
  border-radius: 10px;
}

.blog-form p {
  margin: 0;
  padding-top: 30px;
  padding-left: 22px;
  padding-right: 20px;
  padding-bottom: 38px;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;

}
.send-mail {
  width: 368px;
  height: 44px;
  border-radius: 5px;
  border: solid 1px rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
  margin-left: 20px;
  margin-top: -5px;
  padding-left: 15px;
  margin-bottom: 35px;
}

.button-send {
  font-weight: bold;
  color: #fefefe;
  margin-left: 8px;
  margin-top: -3px;
  margin-bottom: 35px;
  padding: 13px 18px;
}

.contacts-main {
  display: block;
  margin-top: 39px;
  position: relative;
  text-align: center;
}

.contacts {
  width: 302px;
  height: 305px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #323232;
  position: absolute;
  right: 0;
  bottom: -367px;
  padding-left: 26px;
  padding-top: 30px;
  padding-right: 25px;
  margin-left: auto;
  z-index: 1;
  text-align: left;
}

.contacts p{
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

p.contacts-margin {
  margin-top: 18px;
  margin-bottom: 6px;
}

.bold-contacts {
  font-size: 18px;
  line-height: 20px;
}

a.map-number {
    color: #323232;
}

.button-write-us {
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  display: inline-block;
  vertical-align: sub;
  padding: 10px 27px;
  margin-top: 24px;
}

.pin {
  position: absolute;
  top: 139px;
  left: 238px;
}

.pagination {
  list-style: none;
  margin: 0;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 29px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination li {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin: 0 1px;
}

li.next {
  margin-left: 15px;
  margin-right: 0;
  margin-top: 3px;;
}

li.prev {
  margin-right: 14px;
  margin-top: 3px;
}

.pagination-item a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  display: inline-block;
  width: 27px;
  height: 26px;
  text-align: center;
  padding-top: 2px;
}

.pagination-item-active a {
  color: #323232;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item a:active {
  color: #323232;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
}

.previous svg {
  opacity: 0.2;
  transform: rotate(180deg);
}

.main-footer {
  margin-top: 10px;
}

.inner-footer {
  margin-top: 17px;
}

footer::before .catalog-footer{
  content: "";

  position: absolute;
  top: -10px;

  width: 1146px;
  height: 1px;
  background-color: rgba(2255, 255, 255, 0.3);
}

.footer-wrapper {
  display:flex;
  justify-content: space-between;
}

.social-ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 181px;
  }

.button-social-link{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow:  0 0 0 3px rgba(255, 255, 255, 0.5);
  background-position: center center;
  margin-left: 5px;
  margin-top: 21px;
  display: block;
}

.button-social svg {
  fill: #ffffff;
  opacity: 0.8;
}

.button-social-link:hover,
.button-social-link:focus,
.button-social-link:active {
  box-shadow:  0 0 0 3px rgba(255, 255, 255, 0.7);
}

.button-social-link:hover svg,
.button-social-link:focus svg {
  opacity: 1;
}

.button-social-link:active svg {
  fill: #e9e9e9;
}

.about-us {
  min-height: 70px;
  margin-top: 13px;
  margin-left: 15px;
}

.about-us ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 310px;
}

.about-us li:nth-child(2n) {
  width: 165px;
  margin-left: 23px;
}

.about-us a {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255,255, 0.2)
}
a.about-us-bold {
  font-weight: bold;
}

.about-us-bold {
  position: relative;
}
.about-us-bold::before {
  content: ' ';

  background-image: url(../img/svg-gllacy/heart.svg);

  width: 15px;
  height: 13px;

  position: absolute;
  left: -20px;
  top: 1px;
}

.made-by {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
}

.made-by a {
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #fefefe;
}

.made-by p {
  margin-top: 0px;
}

.underlined-link {
  border-bottom: 1px solid rgba(255, 255,255, 0.2)
}

.white-link:hover,
.white-link:focus,
.white-link:active {
  color: #ffbc9e;
  border-color: #ffbc9e;
}

.black-link:hover,
.black-link:focus,
.black-link:active {
  color: #e84d37;
  border-color: #e84d37;
}

.modal {
  position: fixed;

  color: #323232;

  border-radius: 10px;
  background-color: #f8f7f4;
}

.modal-reviews {
  top: 50%;
  left: 50%;
  margin-left: -239px;
  margin-top: -222px;

  display: none;

  width: 478px;
  height: 443px;

  z-index: 100;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 17px;

  width: 22px;
  height: 22px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 24px;
  height: 3px;

  background-color: #323232;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal h2 {
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: #323232;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 24px;
  margin: 0;
}

.write-input {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
  border: solid 1px rgba(178, 178, 178, 0.5);
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-left: 24px;
  padding-left: 15px;
}

.write-name,
.write-email {
  width: 267px;
  height: 44px;
}

.write-text {
  width: 428px;
  height: 155px;
  padding-top: 8px;
}

.reviews-button {
  color: #fefefe;
  font-weight: bold;
  margin-left: 314px;
  padding: 12px 24px;
}
